.main-container {
  background-color: #c0bcbc;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;

}

.bg{
  position: absolute;
  background-color:   #333;
  height: 100%;
  width: 100%;
}

.navbar{
  display: flex;
  background-color: #050427;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  padding: 0.5%;

}
.arrow{
    font-size: 24px;
    position: relative;
    top: 12px;
}
.sign-in-button {
  background-color: #050427;
  color: white;
  font-size: 13px;
  line-height: 1.2;
  margin-right: 10%;
  text-align:left ;
  border: none;
}

.sign-in-button select {
  font-size: 16px;
  font-weight: bold;
  background-color: #050427;
  border: none;
  color: white;

}

.triangle-down {
  width: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 40px solid white;
  position: absolute;
  right: 9%;
  top: 8%;
  z-index: 2;
}

.rectangle {
  width: 25%;
  padding-bottom: 5%;
  top: 10%;
  background-color: white;
  position: absolute;
  right: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 3;
  border-radius: 5px;
  border: 0.5px solid rgb(56, 55, 55);
  border-top: none;
  box-shadow: 0 4px 8px 0 rgba(143, 142, 142, 0.2), 0 6px 20px 0 rgba(249, 249, 249, 0.19);
}

.sign-in-button:hover {
  border: 1px solid white;
  transition: 0.3s;
  border-radius: 3px;
}

.sign-in-button:hover + .down-menu {
  display: flex;
  flex-direction: column;
  margin-right: 10%;


}

.list-item-header{
font-weight: bold;
font-size: 18px;
}
